.inputOutputContainer, .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputOutputContainer {
  border: 1px solid;
  border-radius: 1rem;
  padding: 1rem;
  align-items: flex-end;;
  width: 30rem;
}

.backLinkContainer {
  align-self: flex-start;
}

/*.backButton {
  position: absolute;
}*/

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 100px;
  height: 100px;
  opacity: .7;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
